<!--header-->
{%load static %}
		<div class="header">
			<div class="header-top">
				<div class="container">
					 <div class="top-left">
						<a href="#"> Help  <i class="glyphicon glyphicon-phone" aria-hidden="true"></i> +0123-456-789</a>
					</div>
					<div class="top-right">
					<ul>
	
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="heder-bottom">
				<div class="container">
					<div class="logo-nav">
						<div class="logo-nav-left">
							<h1><a href="index.html">New Shop <span>Shop anywhere</span></a></h1>
						</div>
						<div class="logo-nav-left1">
							<nav class="navbar navbar-default">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header nav_2">
								<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div> 
							<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
								<ul class="nav navbar-nav">
									<li class="active"><a href="/admin1/" class="act">admin</a></li>	
									<li class="active"><a href="/addproduct/" class="act">add product</a></li>
									<li class="active"><a href="/showproduct/" class="act">showproduct</a></li>	
									<li class="active"><a href="/showuser/" class="act">show user</a></li>	
									<li class="active"><a href="/myordershow/" class="act">show order</a></li>	
									<li class="active"><a href="/addoffer/" class="act">add offer</a></li>	
									<li class="active"><a href="/showoffer/" class="act">show offer</a></li>	
									<li><a href="/logout/" class="act">logout</a></li>
								</ul>
							</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		