{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title>New Shop a E-Commerce Online Shopping Category Flat Bootstrap Responsive Website Template | Login :: w3layouts</title>
<!--css-->
<link href="{% static 'css/bootstrap.css'%}" rel="stylesheet" type="text/css" media="all"/>
<link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/font-awesome.css'%}" rel="stylesheet">
<!--css-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="New Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="js/jquery.min.js"></script>
<link href='//fonts.googleapis.com/css?family=Cagliostro' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300' rel='stylesheet' type='text/css'>
<!--search jQuery-->
	<script src="js/main.js"></script>
<!--search jQuery-->

 <!--mycart-->
<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>
 <!-- cart -->
<script src="js/simpleCart.min.js"></script>
<!--start-rate-->
<script src="js/jstarbox.js"></script>
	<link rel="{% static 'stylesheet' %}" href="css/jstarbox.css" type="text/css" media="screen" charset="utf-8" />
		<script type="text/javascript">
			jQuery(function() {
			jQuery('.starbox').each(function() {
				var starbox = jQuery(this);
					starbox.starbox({
					average: starbox.attr('data-start-value'),
					changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
					ghosting: starbox.hasClass('ghosting'),
					autoUpdateAverage: starbox.hasClass('autoupdate'),
					buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
					stars: starbox.attr('data-star-count') || 5
					}).bind('starbox-value-changed', function(event, value) {
					if(starbox.hasClass('random')) {
					var val = Math.random();
					starbox.next().text(' '+val);
					return val;
					} 
				})
			});
		});
		</script>
<!--//End-rate-->
<!-- cart -->
</head>
{% include 'template/adminheader.html' %}
<table border="1" align="center" height="200" width="300" bgcolor="skyblue"  bordercolor="red" cellspacing="0">
<tr>
<th>name</th>
<th>Email</th>
<th>image</th>
 <th colspan="2">Action</th>
</tr>
{% for x in alldata %}
<tr>
<th>{{x.user}}</th>
<th>{{x.email}}</th>
<th><img src="{{x.image.url}}" height=100 width=100 /></th>
 <th><a href="{% url 'deleteuser' pk=x.p_id %}" class="btn btn-danger">Delete</a></th>

</tr>
{% endfor %}
</table>
{% include 'template/adminfooter.html' %}